table {
    margin:auto;
    table-layout: fixed;
}

.hyou table,.hyou td{
    border-collapse: collapse;
    border:1px solid rgb(0, 0, 0);
    }

.hyou2 table,.hyou2 td{
    border-collapse: collapse;
    border:1px solid rgb(0, 0, 0);
    }

.center{
    text-align: center;
}

@font-face {
    font-family: "ハンター文字手書き";
    src: url("../font/hunter_t.ttf");
}
h1{
    font-size: 50px;
    font-family: "ハンター文字手書き";
}

#right{
    text-align: right;
}



td, th {
    padding: 10px 20px;
    font-family: "ハンター文字手書き";
    text-decoration: none;
    }
    
