body{
    text-align: center;
}

img{
    width: 500px;
}

@font-face {
    font-family: "ハンター文字手書き";
    src: url("../font/hunter_t.ttf");
}
h1{
    font-size: 50px;
    font-family: "ハンター文字手書き";
}

.size{
    width: 240px;
}
